<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="capstone.kookmin.silverwatch">

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TracerActivity"
            android:label="활동량 체크 엑티비티" />
        <activity
            android:name=".ExerciseActivity"
            android:label="활동량 체크 엑티비티" />
        <activity
            android:name=".settingActivity"
            android:label="사용자 관리 엑티비티" />
        <activity
            android:name=".registerMenu"
            android:label="등록 엑티비티" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>